@media screen and (max-width: 500px) {
    body {
        font-size: 15px;
        padding: 0;
    }
    p {
        text-align: left;
    }
    header {
        width: 85%;
        height: 100vh;
        position: fixed;
        font-size: 16px;
        top: 0;
        left: -2000px;
        padding-top: 1em;
        padding-bottom: 4em;
        
        h1 {
            font-size: 1em;
            padding-left: 0;
            margin-left: 0;
        }

        ul {
            font-size: 1em;
            // padding-left: 0;
            // margin-left: 0;
        }
    }
    .button-active {
        left: 0;
    }

    #active {
        position: fixed;
        top: 2em;
        right: 3em;
        left: 80%;
    }
    #active.rotateOFF {
        background: white;
        color: $color-3;
    }



    
}



@media screen and (max-width: 800px) {
    p {
        text-align: left;
    }

    #footer-button {
        transform: scale(2);
        width:30px;
        right: 2em;
        &.footON {
            bottom: 220px;
            // background: $color-1;
        }
    }

}
@media screen and (min-width: 1550px) {
    header {
        width: 14em;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 2em;
        padding-bottom: 4em;
        transform: none;
    }

    #active {
        display: none;
    }

    #footer-button {
        transform: scale(3);
        width: 30px;
        right: 2em;
        &.footON {
        }
    }

}

