p.tabletitle {
    font-size: 1.1em;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 0.9em;
    padding-bottom: 0;

    text-align: center;
}

.table-caption {
    text-indent: 0;
    text-align: left;
    max-width: 100%;
    font-size: 0.8em;
}

table {
    margin-bottom: 2em; 
    border-collapse: collapse;
    border-bottom: 1px solid black;
    border-left: 0;
    border-right: 0;
    page-break-inside: avoid;

    p {
        max-width: 100%;
        font-size: 0.7em;
        line-height: 1.1;
        text-align: left;
        text-indent: 0;
    }
}



thead {
    th p {
        text-align: center;
    }
}

tbody {
    tr {
        th, td {
        padding: 1em;
        padding-top: 0.3em;
        padding-bottom: 0;
        }
        &:nth-of-type(even) {
            background: rgba(200, 200, 200, 0.3);
        }
    }
}

th {
    width: 10%;
    border-left: 0;
    border-right: 0;
    border-bottom: 1pt solid black;
    p {
        text-align: center;
    }
}

table tbody p {
    text-align: center;

    .number {
        text-align: center;
    }
}